.btn-rounded{
  border-radius: 18px;
}

.btn-banner{
  padding: .4rem 2rem;
  box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
}

@font-face {
  font-family: avenir;
  src: url("../fonts/Avenir-Book.otf");
}

@font-face {
  font-family: avenirMedium;
  src: url(../fonts/Avenir-Medium.otf);
}
