.btn-rounded {
  border-radius: 18px; }

.btn-banner {
  padding: .4rem 2rem;
  background: #ff6700;
  color: #ffffff;
  box-shadow: 8px 10px 20px 0px rgba(255, 103, 0, 0.15); }
  .btn-banner:hover {
    color: #ff6700;
    border: 1px solid #ff6700;
    background: #ffffff; }

@font-face {
  font-family: avenir;
  src: url("../fonts/Avenir-Book.otf"); }

@font-face {
  font-family: avenirMedium;
  src: url(../fonts/Avenir-Medium.otf); }
